In [19]:
from pyspark.sql import SparkSession
from pyspark.sql import functions as sql_functions

In [17]:
spark = SparkSession.builder.master('local[2]').appName('BOM management app').getOrCreate()

24/04/07 14:25:53 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

# parquet source

In [135]:
parquet_df = spark.read.format('parquet').load('./bom_sources/parquets')
parquet_df.show()

+--------+------------+--------------------+--------+--------+----------+------------+-------------+------------+
|Part_Num|Product_Name| Product_Description|Quantity|EOL_Date|Unit_Price|Availability|Random_Column|Manufacturer|
+--------+------------+--------------------+--------+--------+----------+------------+-------------+------------+
|18181818|      'wxyz'|'Sed dont ut labo...|      19| 05-2024|        75|           1|       0.6239|'company 12'|
|26262626|    '234567'|'Sed do eitempor ...|      16| 11-2024|        77|           1|       0.7854| 'company 2'|
|13131313|    'mnopqr'|            'Duisur'|      15| 08-2023|        80|           1|       0.7412| 'company 7'|
|15151515|  'yzabcdef'|'Sunt im id est l...|      22| 11-2025|       120|           1|       0.5421| 'company 7'|
|16161616|'ghijklmnop'|    'Lorer sit amet'|      28| 02-2026|        85|           1|       0.3021|'company 10'|
|23232323|    '567890'|           'Sunorum'|      21| 04-2025|       115|           1|       0.6213| 'company 5'|
|24242424|    '012345'|          'Loreamet'|      29| 12-2025|        82|           1|       0.1245| 'company 5'|
|14141414|    'stuvwx'|       'Exceptident'|      35| 07-2026|        67|           1|       0.4523| 'company 3'|
|17171717|    'qrstuv'|       'Consectetut'|      32| 10-2027|        60|           0|       0.9214|'company 11'|
|12312312|   'sdadasd'|          'sadasdas'|      12| 01-2026|       123|           1|       0.6234| 'company 1'|
|12312312|   'sdadasd'|            'sadas '|      12| 01-2026|       123|           1|       0.1321| 'company 1'|
|10101010|       'xyz'|        'Sed driqua'|      18| 04-2024|        72|           1|       0.7845| 'company 3'|
|78978978|    'foobar'|            'Conlit'|      25| 09-2027|        55|           0|       0.8965| 'company 1'|
|45645645|    'qwerty'|            'Lorem '|      30| 06-2025|        89|           1|       0.4621| 'company 2'|
|19191919|    '123456'|            'Utniam'|      45| 01-2028|       110|           1|       0.7842|'company 13'|
|25252525|    '678901'|             'Const'|      33| 03-2027|        57|           0|       0.9521|'company 14'|
|11111111|    'abcdef'|              'Ut m'|      40| 12-2026|       105|           1|       0.9812| 'company 5'|
|20202020|    '789012'|               'Qui'|      24| 09-2025|       100|           1|       0.1568|'company 12'|
|22222222|    '901234'|               'Ext'|      38| 08-2026|        65|           1|       0.7845| 'company 5'|
|21212121|    '345678'|               'Dui'|      17| 06-2023|        90|           1|       0.4512| 'company 1'|
+--------+------------+--------------------+--------+--------+----------+------------+-------------+------------+

In [136]:
from functools import reduce

In [137]:

oldColumns = parquet_df.schema.names
newColumns = ["p_id", "name", "description", "quantity", "eol", "price", "availability", "rand_col", "manufacture"]


my_func = lambda input_df, idx: input_df.withColumnRenamed(oldColumns[idx], newColumns[idx])

parquet_df = reduce(
    my_func,
    range(len(oldColumns)),
    parquet_df
)

parquet_df.show()

+--------+------------+--------------------+--------+-------+-----+------------+--------+------------+
|    p_id|        name|         description|quantity|    eol|price|availability|rand_col| manufacture|
+--------+------------+--------------------+--------+-------+-----+------------+--------+------------+
|18181818|      'wxyz'|'Sed dont ut labo...|      19|05-2024|   75|           1|  0.6239|'company 12'|
|26262626|    '234567'|'Sed do eitempor ...|      16|11-2024|   77|           1|  0.7854| 'company 2'|
|13131313|    'mnopqr'|            'Duisur'|      15|08-2023|   80|           1|  0.7412| 'company 7'|
|15151515|  'yzabcdef'|'Sunt im id est l...|      22|11-2025|  120|           1|  0.5421| 'company 7'|
|16161616|'ghijklmnop'|    'Lorer sit amet'|      28|02-2026|   85|           1|  0.3021|'company 10'|
|23232323|    '567890'|           'Sunorum'|      21|04-2025|  115|           1|  0.6213| 'company 5'|
|24242424|    '012345'|          'Loreamet'|      29|12-2025|   82|           1|  0.1245| 'company 5'|
|14141414|    'stuvwx'|       'Exceptident'|      35|07-2026|   67|           1|  0.4523| 'company 3'|
|17171717|    'qrstuv'|       'Consectetut'|      32|10-2027|   60|           0|  0.9214|'company 11'|
|12312312|   'sdadasd'|          'sadasdas'|      12|01-2026|  123|           1|  0.6234| 'company 1'|
|12312312|   'sdadasd'|            'sadas '|      12|01-2026|  123|           1|  0.1321| 'company 1'|
|10101010|       'xyz'|        'Sed driqua'|      18|04-2024|   72|           1|  0.7845| 'company 3'|
|78978978|    'foobar'|            'Conlit'|      25|09-2027|   55|           0|  0.8965| 'company 1'|
|45645645|    'qwerty'|            'Lorem '|      30|06-2025|   89|           1|  0.4621| 'company 2'|
|19191919|    '123456'|            'Utniam'|      45|01-2028|  110|           1|  0.7842|'company 13'|
|25252525|    '678901'|             'Const'|      33|03-2027|   57|           0|  0.9521|'company 14'|
|11111111|    'abcdef'|              'Ut m'|      40|12-2026|  105|           1|  0.9812| 'company 5'|
|20202020|    '789012'|               'Qui'|      24|09-2025|  100|           1|  0.1568|'company 12'|
|22222222|    '901234'|               'Ext'|      38|08-2026|   65|           1|  0.7845| 'company 5'|
|21212121|    '345678'|               'Dui'|      17|06-2023|   90|           1|  0.4512| 'company 1'|
+--------+------------+--------------------+--------+-------+-----+------------+--------+------------+

In [138]:
parquet_df = parquet_df.drop('description').drop('rand_col')
parquet_df.show()

+--------+------------+--------+-------+-----+------------+------------+
|    p_id|        name|quantity|    eol|price|availability| manufacture|
+--------+------------+--------+-------+-----+------------+------------+
|18181818|      'wxyz'|      19|05-2024|   75|           1|'company 12'|
|26262626|    '234567'|      16|11-2024|   77|           1| 'company 2'|
|13131313|    'mnopqr'|      15|08-2023|   80|           1| 'company 7'|
|15151515|  'yzabcdef'|      22|11-2025|  120|           1| 'company 7'|
|16161616|'ghijklmnop'|      28|02-2026|   85|           1|'company 10'|
|23232323|    '567890'|      21|04-2025|  115|           1| 'company 5'|
|24242424|    '012345'|      29|12-2025|   82|           1| 'company 5'|
|14141414|    'stuvwx'|      35|07-2026|   67|           1| 'company 3'|
|17171717|    'qrstuv'|      32|10-2027|   60|           0|'company 11'|
|12312312|   'sdadasd'|      12|01-2026|  123|           1| 'company 1'|
|12312312|   'sdadasd'|      12|01-2026|  123|           1| 'company 1'|
|10101010|       'xyz'|      18|04-2024|   72|           1| 'company 3'|
|78978978|    'foobar'|      25|09-2027|   55|           0| 'company 1'|
|45645645|    'qwerty'|      30|06-2025|   89|           1| 'company 2'|
|19191919|    '123456'|      45|01-2028|  110|           1|'company 13'|
|25252525|    '678901'|      33|03-2027|   57|           0|'company 14'|
|11111111|    'abcdef'|      40|12-2026|  105|           1| 'company 5'|
|20202020|    '789012'|      24|09-2025|  100|           1|'company 12'|
|22222222|    '901234'|      38|08-2026|   65|           1| 'company 5'|
|21212121|    '345678'|      17|06-2023|   90|           1| 'company 1'|
+--------+------------+--------+-------+-----+------------+------------+

In [154]:
from datetime import datetime

parquet_df = parquet_df \
    .withColumn('name', sql_functions.regexp_replace('name', "'", '')) \
    .withColumn('manufacture', sql_functions.regexp_replace('manufacture', "'", '')) \
    .withColumn('price', sql_functions.col('price').cast('float')) \
    .withColumn('eol', sql_functions.add_months(sql_functions.to_date('eol', 'MM-yyyy'), 1))
parquet_df.show()

+--------+----------+--------+----------+-----+------------+-----------+
|    p_id|      name|quantity|       eol|price|availability|manufacture|
+--------+----------+--------+----------+-----+------------+-----------+
|26262626|    234567|      16|2025-02-01| 77.0|           1|  company 2|
|18181818|      wxyz|      19|2024-08-01| 75.0|           1| company 12|
|15151515|  yzabcdef|      22|2026-02-01|120.0|           1|  company 7|
|23232323|    567890|      21|2025-07-01|115.0|           1|  company 5|
|14141414|    stuvwx|      35|2026-10-01| 67.0|           1|  company 3|
|16161616|ghijklmnop|      28|2026-05-01| 85.0|           1| company 10|
|24242424|    012345|      29|2026-03-01| 82.0|           1|  company 5|
|12312312|   sdadasd|      12|2026-04-01|123.0|           1|  company 1|
|17171717|    qrstuv|      32|2028-01-01| 60.0|           0| company 11|
|10101010|       xyz|      18|2024-07-01| 72.0|           1|  company 3|
|45645645|    qwerty|      30|2025-09-01| 89.0|           1|  company 2|
|78978978|    foobar|      25|2027-12-01| 55.0|           0|  company 1|
|11111111|    abcdef|      40|2027-03-01|105.0|           1|  company 5|
|25252525|    678901|      33|2027-06-01| 57.0|           0| company 14|
|19191919|    123456|      45|2028-04-01|110.0|           1| company 13|
|20202020|    789012|      24|2025-12-01|100.0|           1| company 12|
|22222222|    901234|      38|2026-11-01| 65.0|           1|  company 5|
+--------+----------+--------+----------+-----+------------+-----------+

# csv source

In [157]:
csv_schema = StructType()\
    .add('Part_Number', 'integer') \
    .add('Name', 'string') \
    .add('Description', 'string') \
    .add('Quantity', 'integer') \
    .add('EOL', 'string') \
    .add('Unit_Price', 'float') \
    .add('Manufacturer', 'string') \
    .add('avail', 'integer')


csv_df = spark.read.format('csv').option('header', 'true').schema(csv_schema).load('./bom_sources/source_1.csv')
csv_df.show()

+-----------+------------+--------------------+--------+-------+----------+------------+-----+
|Part_Number|        Name|         Description|Quantity|    EOL|Unit_Price|Manufacturer|avail|
+-----------+------------+--------------------+--------+-------+----------+------------+-----+
|   12312312|   'sdadasd'|'sadas asdsad asdas'|      12|01-2026|     123.0| 'company 1'|    1|
|   45645645|    'qwerty'|'Lorem ipsum dolo...|      30|06-2025|      89.0| 'company 2'|    1|
|   78978978|    'foobar'|'Consectetur adip...|      25|09-2027|      55.0| 'company 3'|    0|
|   10101010|       'xyz'|'Sed do eiusmod t...|      18|04-2024|      72.0| 'company 4'|    1|
|   11111111|    'abcdef'|'Ut enim ad minim...|      40|12-2026|     105.0| 'company 5'|    1|
|   12121212|    'ghijkl'|'Quis nostrud exe...|      20|03-2025|      95.0| 'company 6'|    1|
|   13131313|    'mnopqr'|'Duis aute irure ...|      15|08-2023|      80.0| 'company 7'|    1|
|   14141414|    'stuvwx'|'Excepteur sint o...|      35|07-2026|      67.0| 'company 8'|    1|
|   15151515|  'yzabcdef'|'Sunt in culpa qu...|      22|11-2025|     120.0| 'company 9'|    1|
|   16161616|'ghijklmnop'|'Lorem ipsum dolo...|      28|02-2026|      85.0|'company 10'|    1|
|   17171717|    'qrstuv'|'Consectetur adip...|      32|10-2027|      60.0|'company 11'|    0|
|   18181818|      'wxyz'|'Sed do eiusmod t...|      19|05-2024|      75.0|'company 12'|    1|
|   19191919|    '123456'|'Ut enim ad minim...|      45|01-2028|     110.0|'company 13'|    1|
|   20202020|    '789012'|'Quis nostrud exe...|      24|09-2025|     100.0|'company 14'|    1|
|   21212121|    '345678'|'Duis aute irure ...|      17|06-2023|      90.0|'company 15'|    1|
|   22222222|    '901234'|'Excepteur sint o...|      38|08-2026|      65.0|'company 16'|    1|
|   23232323|    '567890'|'Sunt in culpa qu...|      21|04-2025|     115.0|'company 17'|    1|
|   24242424|    '012345'|'Lorem ipsum dolo...|      29|12-2025|      82.0|'company 18'|    1|
|   25252525|    '678901'|'Consectetur adip...|      33|03-2027|      57.0|'company 19'|    0|
|   26262626|    '234567'|'Sed do eiusmod t...|      16|11-2024|      77.0|'company 20'|    1|
+-----------+------------+--------------------+--------+-------+----------+------------+-----+
only showing top 20 rows

In [160]:
old_columns = csv_df.schema.names
new_columns = ["p_id", "name", "description", "quantity", "eol", "price", "manufacture", "availability"]

In [161]:
csv_df = reduce(
    lambda input_df, idx: input_df.withColumnRenamed(old_columns[idx], new_columns[idx]),
    range(len(old_columns)),
    csv_df
)

In [179]:
csv_data = csv_df \
    .drop('description') \
    .withColumn('name', sql_functions.regexp_replace('name',"'", "")) \
    .withColumn('manufacture', sql_functions.regexp_replace('manufacture', "'", "")) \
    .withColumn('eol', sql_functions.add_months(sql_functions.to_date('eol', "MM-yyyy"), 1))

csv_data = csv_data.select('p_id', 'name', 'quantity', 'eol', 'price', 'availability', 'manufacture')
csv_data.show(200)

+--------+----------+--------+----------+-----+------------+-----------+
|    p_id|      name|quantity|       eol|price|availability|manufacture|
+--------+----------+--------+----------+-----+------------+-----------+
|12312312|   sdadasd|      12|2026-02-01|123.0|           1|  company 1|
|45645645|    qwerty|      30|2025-07-01| 89.0|           1|  company 2|
|78978978|    foobar|      25|2027-10-01| 55.0|           0|  company 3|
|10101010|       xyz|      18|2024-05-01| 72.0|           1|  company 4|
|11111111|    abcdef|      40|2027-01-01|105.0|           1|  company 5|
|12121212|    ghijkl|      20|2025-04-01| 95.0|           1|  company 6|
|13131313|    mnopqr|      15|2023-09-01| 80.0|           1|  company 7|
|14141414|    stuvwx|      35|2026-08-01| 67.0|           1|  company 8|
|15151515|  yzabcdef|      22|2025-12-01|120.0|           1|  company 9|
|16161616|ghijklmnop|      28|2026-03-01| 85.0|           1| company 10|
|17171717|    qrstuv|      32|2027-11-01| 60.0|           0| company 11|
|18181818|      wxyz|      19|2024-06-01| 75.0|           1| company 12|
|19191919|    123456|      45|2028-02-01|110.0|           1| company 13|
|20202020|    789012|      24|2025-10-01|100.0|           1| company 14|
|21212121|    345678|      17|2023-07-01| 90.0|           1| company 15|
|22222222|    901234|      38|2026-09-01| 65.0|           1| company 16|
|23232323|    567890|      21|2025-05-01|115.0|           1| company 17|
|24242424|    012345|      29|2026-01-01| 82.0|           1| company 18|
|25252525|    678901|      33|2027-04-01| 57.0|           0| company 19|
|26262626|    234567|      16|2024-12-01| 77.0|           1| company 20|
|27272727|    890123|      42|2028-08-01|125.0|           1|  company 1|
|28282828|    456789|      23|2025-06-01|105.0|           1|  company 2|
|29292929|    012345|      14|2023-02-01| 87.0|           1|  company 3|
|30303030|    678901|      36|2026-11-01| 62.0|           1|  company 4|
|31313131|    234567|      25|2025-03-01|120.0|           1|  company 5|
|32323232|    890123|      31|2027-01-01| 85.0|           1|  company 6|
|33333333|    456789|      34|2027-08-01| 60.0|           0|  company 7|
|34343434|    012345|      18|2024-05-01| 75.0|           1|  company 8|
|35353535|    678901|      40|2029-02-01|110.0|           1|  company 9|
|36363636|    234567|      19|2025-10-01|100.0|           1| company 10|
|37373737|    890123|      45|2023-07-01| 90.0|           1| company 11|
|38383838|    456789|      24|2026-09-01| 65.0|           1| company 12|
|39393939|    012345|      28|2025-05-01|115.0|           1| company 13|
|40404040|    678901|      32|2026-01-01| 82.0|           1| company 14|
|41414141|    234567|      22|2027-04-01| 57.0|           0| company 15|
|42424242|    890123|      16|2024-12-01| 77.0|           1| company 16|
|43434343|    456789|      42|2028-08-01|125.0|           1| company 17|
|44444444|    012345|      23|2025-06-01|105.0|           1| company 18|
|45454545|    678901|      14|2023-02-01| 87.0|           1| company 19|
|46464646|    234567|      36|2026-11-01| 62.0|           1| company 20|
|47474747|    890123|      25|2025-03-01|120.0|           1|  company 1|
|48484848|    456789|      31|2027-01-01| 85.0|           1|  company 2|
|49494949|    012345|      34|2027-08-01| 60.0|           0|  company 3|
|50505050|    678901|      18|      NULL| NULL|        NULL|       NULL|
+--------+----------+--------+----------+-----+------------+-----------+

# json source

In [169]:

json_df = spark.read.format('json').option("multiline", "true").load('./bom_sources/boms.json')
json_df = json_df.select(
    sql_functions.col('Part_Num').alias('p_id'),
    sql_functions.col('Product_Name').alias('name'),
    sql_functions.col('Quantity').alias('quantity'),
    sql_functions.col('EOL_Date').alias('eol'),
    sql_functions.col('Unit_Price').alias('price'),
    sql_functions.col('Availability').alias('availability'),
    sql_functions.col('Manufacturer').alias('manufacture')

)
json_df.show()

+--------+------------+--------+-------+-----+------------+------------+
|    p_id|        name|quantity|    eol|price|availability| manufacture|
+--------+------------+--------+-------+-----+------------+------------+
|12312312|   'sdadasd'|      12|01-2026|  123|           1| 'company 1'|
|45645645|    'qwerty'|      30|06-2025|   89|           1| 'company 2'|
|78978978|    'foobar'|      25|09-2027|   55|           0| 'company 3'|
|10101010|       'xyz'|      18|04-2024|   72|           1| 'company 4'|
|11111111|    'abcdef'|      40|12-2026|  105|           1| 'company 5'|
|12312312|   'sdadasd'|      12|01-2026|  123|           1| 'company 1'|
|13131313|    'mnopqr'|      15|08-2023|   80|           1| 'company 7'|
|14141414|    'stuvwx'|      35|07-2026|   67|           1| 'company 8'|
|15151515|  'yzabcdef'|      22|11-2025|  120|           1| 'company 9'|
|16161616|'ghijklmnop'|      28|02-2026|   85|           1|'company 10'|
|17171717|    'qrstuv'|      32|10-2027|   60|           0|'company 11'|
|18181818|      'wxyz'|      19|05-2024|   75|           1|'company 12'|
|19191919|    '123456'|      45|01-2028|  110|           1|'company 13'|
|20202020|    '789012'|      24|09-2025|  100|           1|'company 14'|
|21212121|    '345678'|      17|06-2023|   90|           1|'company 15'|
|22222222|    '901234'|      38|08-2026|   65|           1|'company 16'|
|23232323|    '567890'|      21|04-2025|  115|           1|'company 17'|
|24242424|    '012345'|      29|12-2025|   82|           1|'company 18'|
|25252525|    '678901'|      33|03-2027|   57|           0|'company 19'|
|26262626|    '234567'|      16|11-2024|   77|           1|'company 20'|
+--------+------------+--------+-------+-----+------------+------------+

In [178]:
json_df = json_df \
    .withColumn('name', sql_functions.regexp_replace('name', "'", "")) \
    .withColumn('manufacture', sql_functions.regexp_replace('manufacture', "'", "")) \
    .withColumn('eol', sql_functions.add_months(sql_functions.to_date('eol', 'MM-yyyy'), 1)) \
    .withColumn('price', sql_functions.col('price').cast('float'))

json_df.show(200)

+--------+----------+--------+----------+-----+------------+-----------+
|    p_id|      name|quantity|       eol|price|availability|manufacture|
+--------+----------+--------+----------+-----+------------+-----------+
|12312312|   sdadasd|      12|2026-03-01|123.0|           1|  company 1|
|45645645|    qwerty|      30|2025-08-01| 89.0|           1|  company 2|
|78978978|    foobar|      25|2027-11-01| 55.0|           0|  company 3|
|10101010|       xyz|      18|2024-06-01| 72.0|           1|  company 4|
|11111111|    abcdef|      40|2027-02-01|105.0|           1|  company 5|
|12312312|   sdadasd|      12|2026-03-01|123.0|           1|  company 1|
|13131313|    mnopqr|      15|2023-10-01| 80.0|           1|  company 7|
|14141414|    stuvwx|      35|2026-09-01| 67.0|           1|  company 8|
|15151515|  yzabcdef|      22|2026-01-01|120.0|           1|  company 9|
|16161616|ghijklmnop|      28|2026-04-01| 85.0|           1| company 10|
|17171717|    qrstuv|      32|2027-12-01| 60.0|           0| company 11|
|18181818|      wxyz|      19|2024-07-01| 75.0|           1| company 12|
|19191919|    123456|      45|2028-03-01|110.0|           1| company 13|
|20202020|    789012|      24|2025-11-01|100.0|           1| company 14|
|21212121|    345678|      17|2023-08-01| 90.0|           1| company 15|
|22222222|    901234|      38|2026-10-01| 65.0|           1| company 16|
|23232323|    567890|      21|2025-06-01|115.0|           1| company 17|
|24242424|    012345|      29|2026-02-01| 82.0|           1| company 18|
|25252525|    678901|      33|2027-05-01| 57.0|           0| company 19|
|26262626|    234567|      16|2025-01-01| 77.0|           1| company 20|
+--------+----------+--------+----------+-----+------------+-----------+

In [196]:
print(f'{csv_data.count(), json_df.count(), parquet_df.count() = }')

csv_data.count(), json_df.count(), parquet_df.count() = (44, 20, 17)

In [199]:
parquet_df.union(json_df).union(csv_data).distinct().count()

80